div.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 5%;
    align-items: center;
}

div.img_prod{
    width: 40%;
    min-width: 40em;
    border: black;
    border-style: solid;
    margin-right: 5% ;
}

img.img_prod{
    width: 100%;
}

div.specs{
    display : flex;
    flex-direction: column;
}